/* CSS para el formulario de Ejemplo */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
}

.form-field {
  position: relative;
  margin-bottom: 2rem;
  width: 200px;
}
.form-field label {
  font-size: 1rem;
  display: block;
}
.form-field .form-input {
  font-size: 1rem;
  padding: 5px 10px;
  width: 100%;
}
.form-field i.checked {
  opacity: 1;
}
.form-field i {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  font-size: 1rem;
  top: 50%;
  right: 10px;
  transition: opacity 0.2s ease;
}

.input-valid,
.input-invalid,
.invalid-format {
  position: absolute;
  bottom: -20px;
  left: 0px;
  margin: 0px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  font-size: 0.875rem;
}

.fa-times.show {
  opacity: 1;
  color: red;
}
.fa-check.show {
  opacity: 1;
  color: green;
}
.feedback .input-invalid.show,
.feedback .invalid-format.show {
  opacity: 1;
  color: red;
}
.feedback .input-valid.show {
  opacity: 1;
  color: green;
}
