:root {
  --black: #262728;
  --white: #f1f6f8;
  --color: #262728;
  --color2: #2b2c2d;
  --red: #f51432;
  --rgbRed: 245, 20, 50;
  --green: #28aa28;
  --rgbGreen: 40, 170, 40;
  --blue: #145af5;
  --rgbBlue: 20, 90, 245;
  --darkBlue: #0041dc;
  --yellow: #f5af32;
  --rgbYellow: 245, 175, 50;
  --background: #f9f9fa;
}
input.form-input::placeholder {
  color: #a2a5a8;
}
input.form-input:hover,
input.form-input:active {
  border: 1px solid #646e73;
}
