:root {
  --black: #262728;
  --white: #f1f6f8;
  --color: #262728;
  --color2: #2b2c2d;
  --red: #f51432;
  --rgbRed: 245, 20, 50;
  --green: #28aa28;
  --rgbGreen: 40, 170, 40;
  --blue: #005af5;
  --rgbBlue: 0, 90, 245;
  --background: #f9f9fa;
}
